/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ================================================= */
              /* end of css reset */
              /* start of css styles */
/* ================================================= */

* {
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.page-background {
  height: 100vh;
  background-color: hsl(0, 0%, 20%);
}

/* --------------------------------------- */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: hsl(0, 0%, 12%);
  width: 100vw;
  height: 100px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 1100px; /*Check For Device Width, Then Set To X Percent Of Device Width*/
  background-color: hsl(0, 0%, 12%); /*set to 12% when done ty*/
  /* height: 100px; */
}

.startpage-logo {
  display: flex;
  width: fit-content;
  flex: 1;

  /* margin: 20px; */
}

.logo-newton {
  clip-path: circle(40%);
  justify-content: baseline;
  /* width: 50px; */
}

.logo-text {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

a {
  display: inherit;
  text-decoration: none;
}

.nav-links-right {
  display: flex;
  align-items: center;
  font-weight: 700;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  /* justify-content: end; */
  padding: 30px;
  font-size: 1.4rem;
}
/* --------------------------------- */
/* p {
  padding: 20px;
  font-size: 2rem;
  COMMENTED OUT BECAUSE I SHOULD PROBABLY USE h3 INSTEAD OF PARAGRAPHS (at least for the moment)
} */

.section-create-example-function {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 200px;
  align-items: center;
  justify-content: center;
  /* margin-left: 10%; */
}

/* .section-create-example-function-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
} */

/* h3 {
  font-size: 1rem;
  LIKE I SAID BELOW DEFINE h1 to h6 or think about it idk
} */

button {
  color: black;
}
/* DEFINE h1 TO h6 OR STH FOR QUICKER AND EASIER IMPLEMENTATION OF DIFFERENT FONT WEIGHTS AND FONT SIZE TY*/
/* h1: LOGO FONT
h2: LINKS IN NAVBAR
h3: General text
h4: links in general text
h5: footnotes / small text? */

/* -------------------------------- */

.section-qrcode {
  display: grid;
  place-items: center;
  height: 80vh;
}

.img-qrcode{
  width: 400px;
}

/* ---------------------------- */

.section-ggb {
  display: grid;
  place-items: center;
  height: fit-content;
  background: hsl(0, 0%, 30%);
}

.ggb-element {
  --ggb-primary-color: #ee0290; /* used for most UI elements, including the toolbar header and buttons */
  --ggb-primary-variant-color: #880061; /* used for floating buttons on hover */
  --ggb-dark-color: #880061; /* used for highlighted text in dialogs */
  --ggb-light-color: #f186c0; /* used for progress bar */
}

/* ---------------------------- */

/* this media query centers all the navbar items to give that new modern centered text UI trend, at least that's the goal ig. looks neat */

/*align logo and logo text and stack them on top of each other or just make logo text smaller. not sure if worth the effort cuz i cant get it to work lol*/
@media (max-width: 900px) {
  nav {
    height: min-content;
    flex-direction: column;
  }

  .nav-container {
    width: 100vw;
    align-items: center;
    flex-direction: column;
  }

  .startpage-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-newton {
    width: 90px;
    margin: 10px;
  }

  .logo-text{
    font-size: 1.3rem;
  }
  
  .nav-links-right {
    height: 50px;
    padding-bottom: 30px;
    align-items: center;
    }

  li {
    justify-content: space-evenly;
    padding-left: 0px;
    margin: 2px;
    /* padding-left: 0px; */
    /* margin: 0px; */
    /* font-size: 1.4rem; */
  }

  .section-create-example-function-container {
      display: flex;
      flex-direction: column;
      width: 80vw;
      /* height: 200px; */
      align-items: center;
      justify-content: center;
      /* margin-left: 10%; */
    }
  }
